header{
    height: 100px;
    padding: 10px;
    background-color: #3939c8;
    color: white;
}
footer{
    height: 150px;
    padding: 20px;
    border-top: 1px white;
    background-color: #193968;
}
body{
    background-color:  #aaaaff;
    color: white;
    padding: 20px;
}