header{
    height: 100px;
    padding: 10px;
    background-color: #3939c8;
    color: white;
    box-sizing: border-box;
}
footer{
    height: 150px;
    padding: 20px;
    border-top: 1px white;
    background-color: #193968;
    box-sizing: border-box;
}
body{
    background-color:  #aaaaff;
    color: white;
    padding: 20px;
}
.images {
    display: grid;
    gap: 10px;
    margin-top: 20px;
  }
  
.images img {
    width: 100%;
    height: auto;
  }
@media (max-width: 768px){
    .menu {grid-area: 1 / span 1;}
    .images {
        grid-template-columns: 1fr;
    }
}
.grid-container {
    display: grid;
    grid-template-areas:
      'menu'
}
.menu {
    grid-area: menu;
    }